.footer-1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: #f4f4f6;
    padding: 20px;
}
.footer-1 h4 {
    color: #0f136d;
}
.footer-1 ul {
    font-size: small;
    color: #0f136d;
    list-style: none;
}
.footer-1 ul :hover {
    cursor: pointer;
    text-decoration: underline;
}
.footer-l{
    width: 40%;
    /* border: 1px solid greenyellow; */
}
.footer-r{
    width: 60%;
}
.down-links {
    cursor: pointer;
}